{% extends 'base.html' %}

{% block title %} Post detail {% endblock %}


{% block content %}
    {% if request.user.is_authenticated and request.user.id == post.user.id %}
        <a type="submit" href="{% url 'posts:delete_post' post.user.id post.id %}"  class="btn btn-danger">Delete Post</a>
        <a type="submit" href="{% url 'posts:edit_post' post.user.id post.id %}"  class="btn btn-primary">Edit Post</a>
    {% endif %}<br><br>

    <p>{{ post.user }} <br> {{ post.created|date }}</p><hr>
    <p>{{ post.body }}</p>
{% endblock %}